.container {
    position: fixed;
    background-color: azure;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    z-index: 100;
    padding: 1rem;
    width:fit-content;
    height: fit-content;
}
.loading {
    font-size: 20px;
    font-weight: 200;
    width: 99px;
    border-radius: 10px;
    text-align: center;
}